ROOT_HOST=domain.ltd
# Sub-domain for ROOT_HOST
API_SUB_NAME=api

# Set root password if local development
DATABASE_ROOT_PASSWORD=database-hardPassword
DATABASE_PASSWORD=database-hardPassword
# Change server to "db" if local development
DATABASE_SERVER=external-database.ltd
DATABASE_PORT=3306

UPLOAD_TOKEN=sample