RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

SetEnv MAIL_SERVER localhost
SetEnv MAIL_USER user@domain.ltd
SetEnv MAIL_PASSWORD password

SetEnv DATABASE_SERVER localhost
SetEnv DATABASE_LOGIN user
SetEnv DATABASE_PASSWORD password
SetEnv DATABASE_NAME general